# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
nova-miningverse-frontend/build/static/js/730.0a0de2b4.chunk.js
nova-miningverse-frontend/build/index.html
